services:
  db:
    build:
      dockerfile: Dockerfile.db
      context: .
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: auth_db
    ports:
    - "5432:5432"

  backend:
    build:
      dockerfile: Dockerfile.backend
      context: .
    env_file:
      - .env
    depends_on:
      - db
    ports:
    - "8000:8000"
    
