services:
  db:
    build:
      container_name: database_container
      context: .
      dockerfile: Dockerfile.db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: auth_db
    ports:
      - "5432:5432"

  backend:
    build:
      container_name : backend_container
      context: .
      dockerfile: Dockerfile.backend
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    
